<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ConfigurationCenter</title>
<meta charset="UTF-8" />

</head>
<body>
	<h2>Welcome Spring Cloud Config</h2>
	Git repository:<br />
	<a th:href="${gitUri}" target="_blank" th:text="|${gitUri}|"></a><br />
	<img alt="" src="http://127.0.0.1:8081/imgs/logo.JPG" style="height: 200px;width: 200px;"/>
	<img alt="" src="http://127.0.0.1:8081/imgs/logo.JPG" style="height: 200px;width: 200px;"/>
	<img alt="" src="http://127.0.0.1:8081/imgs/logo.JPG" style="height: 200px;width: 200px;"/>
	<img alt="" src="http://127.0.0.1:8081/imgs/logo.JPG" style="height: 200px;width: 200px;"/>
	<img alt="" src="http://127.0.0.1:8081/imgs/logo.JPG" style="height: 200px;width: 200px;"/>
	<img alt="" src="http://127.0.0.1:8081/imgs/logo.JPG" style="height: 200px;width: 200px;"/>
	<p/>
</body>
</html>
